.button {
  font: inherit;
  border: 1px solid #2b7c85;
  background: #2b7c85;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #189ab4;
  border-color: #189ab4;
}

.button:focus {
  outline: none;
}
